.list {
  width: 250px;
}

.fulllist {
  width: "auto";
}

.drawerHeading {
  padding: 20px 0 0 0;
}

.importGuestList {
  padding: 15px 0 30px 0;
}

.addNewGuest {
  padding: 30px 0;
}

.guestListFile {
  padding-top: 10px;
  text-align: center;
}

.drawerBtn {
  padding-top: 10px;
  text-align: center;
}

.guestDetails,
.guestEmail {
  padding-top: 25px;
}
