@use '../commonThemeAuth' as common;

.marginTop {
  margin-top: common.$containerMargin;
  background-color: #f4f6ff;
}

.forgotPasswordImage {
  max-width: 50vw;
  overflow-y: hidden;
}

.signInLink {
  @include common.navigateLink;
}

.loginHeader {
  @include common.loginHeader;
}
