.formControl {
	padding: 1rem;
	margin: 1rem;
	width: 10vw;
}

.formControlContainer {
	width: 40vw;
	overflow-x: scroll;
}

.formControl {
	margin: 2rem;
	margin-right: 8rem;
	.input {
		width: 10vw;
	}
}
