.toolbar {
	display: flex;
	justify-content: space-between;
	background-color: white;
	padding: 0px;
	
}

.authContainer {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.logoText {
	font-family: 'sacramento', cursive !important;
	

	
}

.menuItems{
	font-size :0.875rem;
}