.imgContainer {
	margin: 2rem;
	img {
		max-width: 30vw;
	}
}

.loaderContainer {
	height: 60vh;
}

.cardContainer {
	margin-top: 2rem;
	padding-inline: 8rem;
}

.buttonContainer {
	margin-top: 3rem;
}

.seeAll {
	cursor: pointer;
	padding-right: 50px;
}
